{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Add Post {% endblock title %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Add Post</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
  </nav><br>
  <center>

    <h1>Add Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formwidth" style="width: 306px;">
            {{ form |crispy }}
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
  </center>

{% endblock content %}